.advantages
  padding-bottom: 20rem
  display: flex
  justify-content: space-between
  &__wrap
    background-color: $black
    max-width: 35rem
    margin: auto
    padding: 2.5rem
    margin-bottom: 3.714rem
  &__row
    display: flex
    flex-wrap: wrap
  &__col
    margin-left: -90px
    background-image: url(../img/advantages-bg.png)
    z-index: 2
    &-50
      margin-right: -90px
  &__block
    position: relative
    margin-left: 0
    margin-right: auto
    width: 45rem
    height: 45rem
  &__item
    display: flex
    align-items: center
    position: absolute
    z-index: 1
    width: 32rem
    padding: 1rem
    &:nth-child(1)
      top: 7rem
      left: 15rem
    &:nth-child(2)
      top: 15.3rem
      left: 20rem
    &:nth-child(3)
      bottom: 14rem
      left: 21.8rem
    &:nth-child(4)
      bottom: 1.2rem
      left: 17.6rem
  &__advantage
    max-width: 26rem
    margin-left: 1rem
    font-family: 'Futura Book'
    font-weight: 700
    font-size: 1.28rem
    line-height: 1.6rem
  &__form
    display: flex
    flex-direction: column
  &__dialog
    display: block
    margin-top: 3rem
    margin-right: 0
    margin-left: auto
    position: relative
    max-width: 36.36rem
    background: #131313 url(../img/bg-lines.svg)
    padding: 1.9rem 3.5rem 1.928rem
    color: #ffffff
  &__title
    margin-top: 0
    margin-bottom: 2.92rem
    font-family: 'Futura Demi'
    font-size: 20px
    line-height: 25px
    font-style: normal
    font-weight: 500
    text-align: center
    color: $light
    max-width: 300px
    margin: auto
  &__input
    &-group
      display: flex
      flex-direction: column
      margin-bottom: 3.428rem
      &:last-of-type
        margin-bottom: 1rem
  &__policy
    margin-bottom: 2.7rem
    color: $light
  &__button
    align-self: flex-end
    text-transform: uppercase
  &__economy
    display: flex
    align-items: center
    margin-top: 2.71rem
  &__icon
    display: flex
    align-items: center
    justify-content: center
    width: 72px
    height: 72px
    margin-left: 7rem
    margin-right: 2rem
    background-color: #e3b873
    border-radius: 50%
  &__info
    font-family: 'Futura Demi'
    font-size: 1.428rem
    line-height: 1.785rem
    color: #e3b873
    text-shadow: 0px 3px 10px rgba(227, 184, 115, 0.15)