.footer
  background: $dark url('../img/footer-bg.jpg') no-repeat center / cover
  padding-top: 3rem
  &__wrap
    background: $black url('../img/form-bg.svg') no-repeat center / cover
    max-width: 63.07rem
    margin: auto
    margin-top: -20rem
    padding: 2.5rem
    margin-bottom: 3.714rem
    &--thanks
      margin-top: 0
  &__title  
    text-transform: uppercase
    font-family: 'Yeseva One', cursive
    font-weight: normal
    font-style: normal
    font-size: 20px
    text-align: center
    line-height: 28px
    margin-top: 0
    margin-bottom: 3.214rem

  &__form
    display: flex
    justify-content: space-between
    flex-wrap: wrap
    max-width: 37.142rem
    margin: auto
  &__input
    padding-top: 0.3rem
    &-group
      display: flex
      flex-direction: column
      flex-basis: 45%
      margin-bottom: 3.2rem
      &--full-width
        flex-basis: 100%
        margin-bottom: 2rem
  &__policy
    flex-basis: 100%
    margin-bottom: 3.6rem
  &__button
    margin-left: 45px
    margin: auto
    padding: 1.285rem 4.785rem
    text-transform: uppercase
  &__menu
    background-color: $dark
    padding: 4.285rem 0
  &__map
    min-height: 465px


  .contacts
    &-small
      max-width: 589px
      display: flex
      flex-direction: column
      align-items: center
      margin: auto
      &__text
        font-family: Yeseva One
        font-style: normal
        font-weight: normal
        font-size: 18px
        line-height: 138.6%
        text-align: center
        text-transform: uppercase
        color: $primary
        max-width: 589px
    &__buttons-group
      display: flex
      flex-direction: row
      justify-content: center
  .buttons-group
    &__button
      padding: 0
      display: flex
      justify-content: center
      align-items: center
      width: 39px
      height: 39px
      border-radius: 50%
      background-color: $primary
      margin: 10px
      margin-bottom: 40px
      

//Стили для Яндекс Карты!
.map-location
  position: relative
  overflow: hidden
  cursor: pointer
  margin-bottom: 40px
  max-height: 500px